// Variables
$bg : #011826;

$pink-dark: #732449;
$pink: #D95995;
$grey: #011826;
$blue-dark: #0378A6;
$blue: #04B2D9;
$cell-size: 80px;

// Resets, Global
html{
  background: $bg;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

// Game 
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  width: calc(#{$cell-size} * 3);
  height: calc(#{$cell-size} * 3);
}
.game-info{
  margin-top: 30px;
  text-align: center;
  ol{
    padding-left: 30px;
  }
}
.game-board{
  position: relative;
  /* 3 columns and 3 rows */
  width: calc(#{$cell-size} * 3);
  height: calc(#{$cell-size} * 3);
}
.grid-row,
.grid-column{
  position: absolute;
  background: lighten($bg, 100%);
  z-index: 2;
}
.grid-row{
  width: 100%;
  height: 1px;
  left: 0;
}
.grid-column{
  width: 1px;
  height: 100%;
  top: 0;
}
.row-1{
  top: 33%;
}
.row-2{
  top: 66%;
}
.column-1{
  left: 33%;
}
.column-2{
  left: 66%;
}
.cells-row{
  position: relative;
  z-index: 1;
}
.cell{
  background: transparent;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: $cell-size;
  height: $cell-size;
  display:  block;
  text-align: center;
  font-weight: bold;
  //font-size: calc(#{$cell-size} / 2);
  line-height: $cell-size;
  border: none;
  outline: none;
  font-size: 0;
  position: relative;

  .turn-0 &.cell-x,
  .turn-x &.cell-0{
    cursor: not-allowed;
  }
  &:active,
  &:focus{
    border: none;
    outline: none;
  }
  &-x{
    color: $blue;

    &:after,
    &:before{
      transition: all 0.3s ease-in-out;      
      left: 50%;
      top: 10%;
      height: calc(#{$cell-size} * 0.8);
      width: 10px;
      display: block;
      content: '';
      background: $blue;
      position: absolute;
      margin-left: -10px;
    }

    &:before{
      transform: rotate(45deg);
    }

    &:after{
      transform: rotate(-45deg);
    }
  }
  &-0{
    color: $pink;

    &:after,
    &:before{
      transition: all 0.3s ease-in-out;      
      left: 50%;
      top: 50%;
      display: block;
      content: '';
      transform: translate(-50%, -50%);
      border-radius: 50%;
      position: absolute;
    }

    &:before{
      width: calc(#{$cell-size} *0.8);
      height: calc(#{$cell-size} *0.8);
      background: $pink;
      z-index: 1;
    }

    &:after{
      width: calc(#{$cell-size} *0.5);
      height: calc(#{$cell-size} *0.5);
      background: $bg;
      z-index: 2;
    }
  }
}
.restart-game{
  display: inline-block;
  width: 80px;
  line-height: 26px;
  font-family: inherit;
  font-size: 18px;
  margin-top: 30px;
  border: none;
  outline: none;
  
  .winner-is-0 &{
    background: $pink;
  }

  .winner-is-x &{
    background: $blue;
  }
}

// Display Properties
.d-none{
  display: none;
}
.d-block{
  display: block;
}
